 .coaster-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    background-color: rgb(180, 217, 249);;
    border-radius: 7px;
    margin: 5px;
}
.coaster-text {
    font-size: 18pt;
    background-color: red;
    padding: 10px;
    border-radius: 7px;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
    background-color: rgb(19, 100, 251);
    font-size: 24px;
    padding: 10px;
}

a {
    color: white;
    grid-row: 2/3;
    padding: 0 7px;
}

header p {
    font-size: 24px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
#greeting {
    text-align: center;
    font-size: 20pt;
    font-family: BBH Sans Bogle;
    margin: 40px 10px;
}

img {
    height: 300px;
    width: 400px;
    justify-self: center;
}
footer {
    text-align: center;
    background-color: red;
    padding: 1px 0px 10px 0px;
    margin-top: 50px;
}

/* ABOUT */

#about-intro {
    font-family: BBH Sans Bogle;
    font-size: 50px;
}
.hide {
    display: none;
}
figcaption {

}
.about-img {
    height: 350px;
    width: 400px;
}

#coaster-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

/* FORM */
#news-intro {
    font-family: BBH Sans Bogle;
    font-size: 28px;
    padding: 0 50px;
}
#form-main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 20px 0;
}
form {
    grid-column: 2/3;
    background-color: rgb(251, 62, 62);
    border-radius: 10px;
    min-width: 400px;
}
.wf1 input[type="text"],
.wf1 input[type="email"] {
    font-family: "roboto";
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 90%;
    margin: 20px 10px;
}


.wf1 label {
    margin-left: 10px;
}

legend {
    font-size: 20px;
    margin: 20px;
    align-content: center;
    justify-content: center;
}
