 .coaster-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    background-color: rgb(180, 217, 249);;
    border-radius: 7px;
    margin: 5px;
}
.coaster-text {
    font-size: 18pt;
    background-color: red;
    padding: 10px;
    border-radius: 7px;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: white;
    background-color: rgb(19, 100, 251);
    font-size: 24px;
    padding: 10px;
}

a {
    color: white;
    grid-row: 2/3;
}

header p {
    font-size: 24px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}
#greeting {
    text-align: center;
    font-size: 20pt;
    font-family: BBH Sans Bogle;
}

img {
    height: 300px;
    width: 400px;
    justify-self: center;
}