header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
}
  
ul { 
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: grey;
    font-size: 18px;
}
body {
    background-color: black;
    color: white;
}
.main-card {
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    min-height: 200px;
    
}
.main-text {
    align-content: center;
}
.intro {
    font-size: 24px;
    background-color: rgba(128, 128, 128, 0.681);
    border-radius: 10px;
    padding: 5px 20px;
}
.main-image {
    justify-self: center;
    align-self: center;
    border-radius: 3px;
}

ul {display: none;}
a:hover {color: white;}


.main_page_content {
    font-size: 20px;
}

#menu {
    font-size: 2.5rem;
    background-color: red;
    
}
#menu.show::after {
    content: X;
}
#menu::before {
    content: '≡';
    font-size: 2.5rem;
    font-weight:700;
    margin: 10px;
    text-decoration: none;
    color: #000;
}
.navigation.show ul div, a{
   display: block;
}


header.show {
    display: grid;
    grid-template-columns: 1fr;
}

.show ul{
    font-size: 24px;
    line-height: 1.5;
    display: block;
}

a:active {
    color: white;
}
a:hover {
    color: white;
}
a:visited {
    color: #000;
}
/* IOS Page  */
.ios-box {
background-color: grey;
margin: 20px;
height: 225px;
border-radius: 10px;
padding: 5px;
text-align: center;
}

.ios-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ios-box:hover {
    height: 245px;
    border: 1px solid red;
    margin: 5px;
    font-size: 17px;
}



@media screen and (max-width: 880px) {
    .ios-grid { 
        display: grid;
        grid-template-columns: 1fr;
    }
    .ios-box {
        height: 85px;
    }
    .ios-box:hover {
        height: 95px;
        border: 1px solid red;
        margin: 5px;
        font-size: 17px;
    }
    .header_links {
        display: inline;
    }
}