div {
    font-size: large;
    text-align: center;
    padding: 5px;
}

#color {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

#color1 {
    color: red;
}

#color2 {
    color: rgb(141, 194, 239);
}

#color3 {
    color: grey;
}

#roboto {
    font-family: "Roboto";
}

#bbh-sans-bogle {
    font-family: "BBH Sans Bogle";
}

img {
    height: 400px;
}

#wireframetxt {
    font-size: 24px;
}