#colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
p {
    font-size: large;
}
#color1 {
  width: 100px;  
  height: 100px;
  background-color: red;
  justify-self: center;
  padding: 5px;
}

#color2 {
    width: 100px;  
    height: 100px;
    background-color: blue; 
    justify-self: center;
    padding: 5px;
}

#color3 {
    width: 100px;  
    height: 100px;
    background-color: black;
    color: white;
    justify-self: center;
    padding: 5px;
}

#f1 {
    font-family: "roboto";
}

#f2 {
    font-family: "Kirang Haerang";
}

