
@media only screen and  (max-width:850px) {
    .coaster-img {
        height: 200px;
        width: 275px;
        justify-content: center;
        align-content: center;
    }
    .coaster-box {
        align-items: center;
        justify-items: center;
    }
    .about-img {
        height: 250px;
        width: 275px;
}
}

@media only screen and (max-width:700px) {

    .coaster-img {
        grid-row: 1/2;
        height: 200px;
        width: 300px;
        justify-content: center;
    }
    .coaster-text {
        grid-row: 2/3;
        align-self: center;
        margin: 5px 20px;
    }
      #intro {
        font-size: 20px;
        margin: 10px;
      }
    
    .coaster-box {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        height: 475px;
    }
    .coaster-heading {
        text-align: center;
        font-size: 28px;
    }
    .list-item {
        font-size: 14px;
    }
    #coaster-pics {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-img {
        height: 400px;
        width: 450px;
    }
}
    


@media only screen and (max-width:500px) {
    .coaster-text {
        font-size: 18px;
    }
    Header {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 30px;
        align-items: center;
        justify-items: center;
    }    
    nav {
    display: flex;
    flex-direction: column;
    padding: 10px 0
    }

    nav:hover {
        background-color: black;
    }
    a {
        padding: 10px
    }

    #about-intro {
        text-align: center;
    }
    
}