/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
header {
    color: red;
    /* display: inline; */

}
p {
    color: orange;
}
main {
    max-width: 800px;
}

.main_grid {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.caption {
    text-align: center;
    color: black;
}