#menu {
    display:block;
    width: 90%;
    color: black;
    font-size: 30px;
    background-color: lightblue;
	text-decoration: none;
}

.navigation {
    list-style: none;
}

#menu::before {
	content: "≡   ";
}
.main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
li 
{
    padding: 3px;
}
ul {
    display: none;
    background-color: rgb(0, 255, 229);
}

li:hover {
    background-color: white;
}
nav {
    display: flex;


}
a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

a:hover {
    color:white; 
    background-color: blue;
}
.show {
    display: block;
    width: 90%;
}

#menu.show::before {
	content: "X         ";
    font-size: large;
}

footer {
    text-align: center;
    background-color: lightblue;
}
.main_grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    justify-items: center;
}
