/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */
header {
    color: red;
    /* display: inline; */

}
p {
    color: orange;
}
main {
    max-width: 800px;
}

/* main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    overflow: auto;
} */

.main_grid {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}

.caption {
    text-align: center;
    color: black;
}

footer {
    text-align: center;
    background-color: lightblue;
}

@media (max-width: 900px) {
    .main-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .main-grid {
        grid-template-columns: 1fr;
    }
}